---
import Layout from '../layouts/Layout.astro'
import logo from '../../public/logo.svg'
import screen from '../../public/screen.png'
import appStore from '../../public/app-store-badge.svg'
import googlePlay from '../../public/google-play-badge.png'
import Footer from '../components/footer.astro'
---

<Layout title="GymButler">
	<main class="flex">
		<div>
			<div class="flex">
				<img width="100" src={logo} alt="GymButler logo" />
				<h1>GymButler</h1>
			</div>
			<p>A one-stop app for calculating percentages for weights, converting between kilograms and pounds, a stopwatch, and a timer.</p>
			<div class="center flex">
				<a href="https://apps.apple.com/us/app/gymbutler/id1613277271?itsct=apps_box_link&itscg=30200">
					<img width="200" src={appStore} alt="download in the app store" />
				</a>
				<a href="https://play.google.com/store/apps/details?id=com.gymbutler&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
					<img width="200" src={googlePlay} alt="download in google play" />
				</a>
			</div>
		</div>
		<img width="200" src={screen} alt="app screenshot" />
	</main>
	<Footer />
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
		min-height: 100vh;
	}
	h1 {
		font-size: 2rem;
		font-weight: 800;
		margin: 0;
		color: #fff;
	}
	p {
		color: #fff;
		letter-spacing: 1px;
	}
	a {
		text-decoration: none;
    transition: all;
    transition-duration: 500ms;
	}

	a:hover {
		opacity: 0.5;
	}
	.flex {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	.center {
		display: flex;
		align-items: center;
	}
	@media (min-width: 640px) {
		.flex {
			flex-wrap: nowrap
		}
	}
</style>
