---
import Layout from '../layouts/Layout.astro'
import logo from './logo.svg'
import screen from './screen.png'
import appStore from './app-store-badge.svg'
import googlePlay from './google-play-badge.png'
---

<Layout title="GymButler">
	<main class="flex-row">
		<div>
			<div class="flex-row">
				<img width="100" src={logo} alt="GymButler logo" />
				<h1>GymButler</h1>
			</div>
			<p>A one-stop app for calculating percentages for weights, converting between kilograms and pounds, a stopwatch, and a timer.</p>
			<div class="center">
				<a href="https://apps.apple.com/us/app/gymbutler/id1613277271?itsct=apps_box_link&itscg=30200">
					<img width="200" src={appStore} alt="download in the app store" />
				</a>
				<a href="https://play.google.com/store/apps/details?id=com.gymbutler&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
					<img width="200" src={googlePlay} alt="download in google play" />
				</a>
			</div>
		</div>
		<img width="200" src={screen} alt="app screenshot" />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 2rem;
		font-weight: 800;
		margin: 0;
		color: #fff;
	}
	p {
		color: #fff;
		letter-spacing: 1px;
	}
	a {
		text-decoration: none;
	}
	.flex-row {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.center {
		display: flex;
		align-items: center;
	}
</style>
