<footer>
  <a href="/terms">Terms & Conditions</a>
  <a href="/privacy">Privacy</a>
  <a href="https://dev.cavender.io">© Stephen Cavender</a>
</footer>

<style>
  footer {
    background-color: #1d1d1d;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }

  footer a {
    color: #fff;
    transition: all;
    transition-duration: 500ms;
  }

  footer a:hover {
    color: #FD992D;
  }

</style>